doctype html
html(lang="ru")
	include partials/head
	body
		div(class="container-fluid")
			include partials/header
			include partials/about
			include partials/services
			include partials/skills
			include partials/portfolio
			include partials/feedback
			include partials/footer
		script(src='js/app.js')
