section(class="section section_color_secondary about", id="about") 
	div(class="container")
		h2(class="heading about__heading") Обо мне.
		img(class="about__image", src="img/photo.png", alt="Аватар")
		div(class="about__who")
			span(class="about__who_name") Иван Граймс
			span(class="about__who_spec") Front-End Разработчик
		div(class="about__text text text_color_primary")
			p Добро пожаловать! 
			p Данная страница посвящена моей работе в области веб-разработки. Отношение к собственной работе я могу несомненно назвать своим достоинством. Перфекционист по жизни, к написанию кода я подхожу максимально щепетильно и эффективно, не тратя при этом лишнего времени, ведь не имею привычки разрываться между проектами, сосредотачиваю всё внимание на одном, пока не достигну достойного результата. Буду рад предложениям по работе над сложными проектами во имя саморазвития. 
			p Я люблю свою работу, и потому делаю её отлично. Предлагаю Вам убедиться в этом &#x1F609;
			
		div(class="about__social")
			a(class="about__social_link", href="https://www.facebook.com/grimesco.de", target="_blank")
				i(class="fa fa-facebook about__social_icon")
			a(class="about__social_link", href="#", target="_blank")
				i(class="fa fa-linkedin about__social_icon")
			a(class="about__social_link", href="https://www.fl.ru/users/grimescode/", target="_blank")
				span(class="about__social_icon") FL
