header(class="header")
	div(class="container")
		div(class="header__logo")
			span(class="header__logo_title") &lt;grimesco.de&gt;
				span(class="header__logo_subtitle") портфолио
			//- grimes<code/>
		nav(class="header__nav")
			ul(class="header__nav_ul")
				li(class="header__nav_li")
					a(class="header__nav_link", href="#about") Обо мне
				li(class="header__nav_li")
					a(class="header__nav_link", href="#services") Преимущества
				li(class="header__nav_li")
					a(class="header__nav_link", href="#skills") Навыки
				li(class="header__nav_li")
					a(class="header__nav_link", href="#portfolio") Портфолио
				li(class="header__nav_li")
					a(class="header__nav_link", href="#feedback") Обратная связь

	button(class="fa fa-bars header__button-menu")

	nav(class="header__nav-mobile")
		ul(class="header__nav-mobile_ul")
			li(class="header__nav-mobile_li")
				a(class="header__nav-mobile_link", href="#about") Обо мне
			li(class="header__nav-mobile_li")
				a(class="header__nav-mobile_link", href="#services") Преимущества
			li(class="header__nav-mobile_li")
				a(class="header__nav-mobile_link", href="#skills") Навыки
			li(class="header__nav-mobile_li")
				a(class="header__nav-mobile_link", href="#portfolio") Портфолио
			li(class="header__nav-mobile_li")
				a(class="header__nav-mobile_link", href="#feedback") Обратная связь

div(class="promo")
	div(class="container")
		div(class="promo__content")
			h1(class="promo__content_title") Front-End Development
			p(class="text text_color_secondary text_size_m promo__content_text") Разработка клиентской части сайтов на высшем уровне.
			a(class="button promo__content_button", href="#about") Познакомиться

//-	div(class="container")
		div(class="header-slider__content") 
			h1(class="header-slider__content_title") Portfolio PSD Template
			p(class="text text_color_secondary header-slider__content_text") Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
			div(class="button header-slider__content_button") 
				a(class="button__text", onclick="scrollToTop()") Нанять меня
