section(class="section section_color_primary portfolio", id="portfolio") 
	h2(class="heading heading_no_padding portfolio__heading") Мои работы.
	p(class="text text_color_primary portfolio__text") Здесь вы можете ознакомиться с выполненными мной проектами в режиме предпросмотра, а также перейти по ссылке, чтобы изучить интересующий сайт в действии.
	
	div(class="portfolio__gallery")
		//-div(class="portfolio__tag")
			button(class="portfolio__tags_tag portfolio__tags_active") All
			button(class="portfolio__tags_tag") Front-End
			button(class="portfolio__tags_tag") Website
			button(class="portfolio__tags_tag") Something else
			button(class="portfolio__tags_tag") Something else
		
		
		div(class="portfolio__item")
			img(class="portfolio__item_image", src="img/preview_5.png", alt="")
		
		div(class="portfolio__item")
			img(class="portfolio__item_image", src="img/preview_4.jpg", alt="")

		div(class="portfolio__item")
			img(class="portfolio__item_image", src="img/preview_3.jpg", alt="")

		div(class="portfolio__item")
			img(class="portfolio__item_image", src="img/preview_2.jpg", alt="")
	
		div(class="portfolio__item")
			img(class="portfolio__item_image", src="img/preview_1.jpg", alt="")
				
		div(class="portfolio__panel")
			div(class="portfolio__panel_selector")
			div(class="portfolio__panel_content")
				div(class="portfolio__panel_slider")
					a(href="http://xcs.gg", target="_blank")
						img(class="portfolio__panel_image", src="img/5.png", alt="")
					
				div(class="portfolio__panel_info")
					h2(class="portfolio__panel_title") xcs.gg
					span(class="portfolio__panel_description") Описание:
					div(class="text text_color_third text_size_small portfolio__panel_text")
						p Использовано: методология БЭМ, приемы отзывчивого дизайна, препроцессоры Pug и Sass, постпроцессор PostCSS, Javascript, библиотека jQuery, а также #[a(class="link", href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Grid_Layout") CSS Grid Layout] и #[a(class="link", href="https://developer.mozilla.org/ru/docs/Web/CSS/flex") Flexbox].
					
					div(class="portfolio__details")
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Клиент:
							span(class="text text_color_third text_size_small") Oliver Maggs
						//-div(class="portfolio__panel_info_item")
							span(class="portfolio__panel_info_name") Категория:
							a(class="link", href="#") Front-end
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Ссылка:
							a(class="link", href="http://grimesco.de/portfolio/xcs/index.html", target="_blank") xcs.gg
				
		div(class="portfolio__panel")
			div(class="portfolio__panel_selector")
			div(class="portfolio__panel_content")
				div(class="portfolio__panel_slider")
					a(href="https://grimesco.de", target="_blank")
						img(class="portfolio__panel_image", src="img/4.jpg", alt="")
					
				div(class="portfolio__panel_info")
					h2(class="portfolio__panel_title") grimesco.de
					span(class="portfolio__panel_description") Описание:
					div(class="text text_color_third text_size_small portfolio__panel_text")
						p Использовано: методология БЭМ, приемы отзывчивого дизайна, препроцессоры Pug и Sass, постпроцессор PostCSS, Javascript, библиотека jQuery, PHP, а также #[a(class="link", href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Grid_Layout") CSS Grid Layout] и #[a(class="link", href="https://developer.mozilla.org/ru/docs/Web/CSS/flex") Flexbox].
					
					div(class="portfolio__details")
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Клиент:
							span(class="text text_color_third text_size_small") Иван Граймс
						//-div(class="portfolio__panel_info_item")
							span(class="portfolio__panel_info_name") Категория:
							a(class="link", href="#") Front-end
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Ссылка:
							a(class="link", href="https://grimesco.de", target="_blank") grimesco.de
					
						
		div(class="portfolio__panel")
			div(class="portfolio__panel_selector")
			div(class="portfolio__panel_content")
				div(class="portfolio__panel_slider")
					a(href="/portfolio/bino/index.html", target="_blank")
						img(class="portfolio__panel_image", src="img/3.jpg", alt="")
					
				div(class="portfolio__panel_info")
					h2(class="portfolio__panel_title") Bino
					span(class="portfolio__panel_description") Описание:
					div(class="text text_color_third text_size_small portfolio__panel_text")
						p Использовано: методология БЭМ, фреймворк Bootstrap, приемы отзывчивого дизайна, препроцессор Sass, постпроцессор PostCSS, Javascript, библиотека jQuery.
						
					div(class="portfolio__details")
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Клиент:
							span(class="text text_color_third text_size_small") Пример моей работы
						//-div(class="portfolio__panel_info_item")
							span(class="portfolio__panel_info_name") Категория:
							a(class="link", href="#") Front-end
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Ссылка:
							a(class="link", href="/portfolio/bino/index.html", target="_blank") Bino
						
						
		div(class="portfolio__panel")
			div(class="portfolio__panel_selector")
			div(class="portfolio__panel_content")
				div(class="portfolio__panel_slider")
					a(href="/portfolio/dsstudio/index.html", target="_blank")
						img(class="portfolio__panel_image", src="img/2.jpg", alt="")
					
				div(class="portfolio__panel_info")
					h2(class="portfolio__panel_title") DS Studio
					span(class="portfolio__panel_description") Описание:
					div(class="text text_color_third text_size_small portfolio__panel_text")
						p Использовано: методология БЭМ, фреймворк Bootstrap, приемы отзывчивого дизайна, препроцессор Sass, Javascript, библиотека jQuery.
					
					div(class="portfolio__details")
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Клиент:
							span(class="text text_color_third text_size_small") Пример моей работы
						//-div(class="portfolio__panel_info_item")
							span(class="portfolio__panel_info_name") Категория:
							a(class="link", href="#") Front-end
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Ссылка:
							a(class="link", href="/portfolio/dsstudio/index.html", target="_blank") DS Studio
						
						
		div(class="portfolio__panel")
			div(class="portfolio__panel_selector")
			div(class="portfolio__panel_content")
				div(class="portfolio__panel_slider")
					a(href="/portfolio/fixit/index.html", target="_blank")
						img(class="portfolio__panel_image", src="img/1.jpg", alt="")
					
				div(class="portfolio__panel_info")
					h2(class="portfolio__panel_title") Fix It
					span(class="portfolio__panel_description") Описание:
					div(class="text text_color_third text_size_small portfolio__panel_text")
						p Использовано: фреймворк Bootstrap, приемы отзывчивого дизайна, препроцессор Sass, Javascript, библиотека jQuery.
					
					div(class="portfolio__details")
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Клиент:
							span(class="text text_color_third text_size_small") Пример моей работы
						//-div(class="portfolio__panel_info_item")
							span(class="portfolio__panel_info_name") Категория:
							a(class="link", href="#") Front-end
						div(class="portfolio__details_item")
							span(class="portfolio__details_name") Ссылка:
							a(class="link", href="/portfolio/fixit/index.html", target="_blank") Fix It
							
							
		
		//-button(class="portfolio__gallery_button") Load more works
