section(class="section section_color_primary services", id="services") 
	div(class="container services__container")
		h2(class="heading  heading_no_padding services__heading") Преимущества.
		
		div(class="services__item")
			i(class="fa fa-code services__item_icon")
			h4(class="services__item_title") Чистый код
			p(class="text text_color_primary services__item_text") При создании кода я руководствуюсь методологией D.R.Y., а также использую БЭМ, что придает коду гибкости, читаемости и модульности.
		
		div(class="services__item")
			i(class="fa fa-mobile services__item_icon")
			h4(class="services__item_title") Отзывчивый дизайн
			p(class="text text_color_primary services__item_text") Создание отзывчивого дизайна при помощи нативных возможностей CSS, таких как grid, flexbox.
				
		div(class="services__item")
			i(class="fa fa-globe services__item_icon")
			h4(class="services__item_title") Кроссбраузерность
			p(class="text text_color_primary services__item_text") При написании CSS я ориентируюсь на его поддержку тремя последними версиями браузеров. По желанию клиента порог может быть увеличен.
							
		div(class="services__item")
			i(class="fa fa-medkit services__item_icon")
			h4(class="services__item_title") Поддержка
			p(class="text text_color_primary services__item_text") После выполнения работы, при возникновении каких-либо вопросов по проекту я всегда готов оказать техническую поддержку.
