section(class="section section_color_secondary skills", id="skills") 
	div(class="container")
		h2(class="heading skills__heading") Что я могу:
		
		ul(class="skills__ul")
			li(class="skills__ul_li") Люблю и использую БЭМ.
			li(class="skills__ul_li") Валидный и семантический HTML.
			li(class="skills__ul_li") При написании HTML/CSS использую препроцессоры Pug и Sass.
			li(class="skills__ul_li") Кроссбраузерный CSS.
			li(class="skills__ul_li") Отзывчивый дизайн.
			li(class="skills__ul_li") Скорость загрузки сайта 90+ в PageSpeed.
		
		div(class="skills__list")
			div(class="skills__list_bar")
				span(class="skills__list_title") HTML5
				div(class="skills__list_progress")
					span(class="skills__list_percentage")

			div(class="skills__list_bar")
				span(class="skills__list_title") CSS3
				div(class="skills__list_progress")
					span(class="skills__list_percentage")

			div(class="skills__list_bar")
				span(class="skills__list_title") Javascript
				div(class="skills__list_progress")
					span(class="skills__list_percentage")

			div(class="skills__list_bar")
				span(class="skills__list_title") jQuery
				div(class="skills__list_progress")
					span(class="skills__list_percentage")
